
.main-div{
    padding: 2.5em 5em;
    z-index: -1;
}

.vidoes-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#move-me{
    margin-right: 30px;
}

.class-course{
    margin-bottom: 40px;
    color: #066AEF;
}

.course-icon{
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.left-aside{
    /* margin-right: 9em; */
    width: 45%;
}
.vidoes-nav button{
    background-color: #F1F3FD;
    opacity: 0.6;
    border-radius: 17px;
    padding: 13px 10px;
    border: none;
    outline: none;
    color: #ACB7EB;
    text-align: left;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.vidoes-nav button:hover{
    opacity: 1;
}
.vidoes-nav button:focus{
    opacity: 1;
    color: black;
}

.btn-icon{
    height: 10px;
}
.left-btn{
    margin-right: 15px;
    width: 40%;
}
#topic{
    margin-left: 30px !important;
}
.seven{
    border-left: solid 1px #c2c6d8;
    margin-left: 15px;
    padding-left: 10px;
}
.left-icon{
    margin-right: 20px;
}

.right-aside{
    width: 70%;
    text-align: right;
}

.right-left-btn{
    width: 18%;
    margin-right: 15px;
}

.right-icon{
    margin-right: 20px;
}

/******************************** Video styles ******************************/

.video-display{
    display: flex;
    justify-content: space-between;
}

.video-scroll{
    width: 35%;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 35px;
}

.topic-lists{
    width: 90%;
    /* margin-top: 25px; */
    height: 60vh;
    padding: 20px;
    overflow-x: hidden; 
    overflow-y: scroll;
}



/******************* scroll bar styles ************************/
.topic-lists::-webkit-scrollbar {
    width: 3px; 
  }
  
  /* Track */
  .topic-lists::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F1F3FD; 
    border-radius: 17px;
  }
   
  /* Handle */
  .topic-lists::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #800165 0%, #D3014E 100%); 
    border-radius: 10px;
  }

.topic-list{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1.5px #ECEFFF;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    white-space: nowrap;
    height: 30px;
    align-items: center;
    color: #30302E;
}

.topic-list img{
    height: 28px;
    margin-right: 18px;
}

/***************************** Students styles ********************************/

.students-list{
    display: flex !important;
    justify-content: space-between;
}

.students-list button{
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #ACB7EB;
    border-radius: 11px;
    color: #ACB7EB;
    background-color: transparent;
    outline: none;
}

.students-list button:hover{
    background: linear-gradient(180deg, #860164 0%, #CA0151 100%);
    color: white;
    cursor: pointer;
    border: none;
}

.students-icon{
    height: 15px !important;
    position: relative;
    top: 3px;
    margin-right: 10px !important;
}

.roundup{
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px;
}
.shift-up{
    position: relative;
    bottom: 10px;
}

/****************************Notes styles ****************************************/

.video-side{
    align-self: flex-end;
    width: 46% !important;
}

.notes-note img{
    height: 28px;
    margin-right: 18px;
}

.notes-note{
    display: flex;
}

.note{
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 25px;
    border-bottom: solid 1.5px #ECEFFF;
}

.p-head{
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.p-head a {
    text-decoration: none;
    color: #066AEF;
}

.n-icon{
    position: relative;
    top: 3px;

}